.hero {
  height: 582px;
  width: 100%;
  margin-bottom: 120px;
  background: url("../assets/IMAGE\ \(5\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  &-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
    h1 {
      font-size: 80px;
    }
    button {
      margin-top: 30px;
      width: 160px;
      height: 60px;
      border-radius: 4px;
      background-color: #5ab963;
      color: white;
      font-size: larger;
    }
  }
}
